<section class="bg-video-section">
  <div class="background-video">
    <video
      playsinline
      autoplay
      muted
      loop>
    </video>
  </div>
</section>


<style>
  .bg-video-section {
    height: 98dvh;

    .background-video {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const videoSource = document.querySelector(".background-video video")
        const desktopVideo = "https://cdn.shopify.com/videos/c/o/v/9333be87574d4cf581ba02d442201b84.mov"
        const mobileVideo = "https://videos.pexels.com/video-files/29725551/12779576_2560_1440_30fps.mp4"
  
        const mobileBreakpoint = 640;

        const setVideoSrc = () => {
            if (window.innerWidth < mobileBreakpoint) {
                if (videoSource.src !== mobileVideo) {
                    videoSource.src = mobileVideo
                }
            } else {
                if (videoSource.src !== desktopVideo) {
                    videoSource.src = desktopVideo
                }
            }
        }

        setVideoSrc()
        window.addEventListener("resize", setVideoSrc)
    })
</script>


{% schema %}
  {
    "name": "Hero BG Video",
    "settings": []
  }
{% endschema %}