/* product page: main-product-blocks */

.main-product__block.main-product__block-title {
    margin-top: 0 !important;
}
.main-product__block.main-product__block-text {
    margin-top: 0 !important;
}
.collapsible__button{
    font-weight: 400 !important;
}